{% extends "layout.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    {% if not request.session.username %}
    <h1 class="display-3">Hello, Welcome to myBooks</h1>
    {% else %}
    <h1 class="display-3">Hello, Welcome {{request.session.username}}</h1>
    {% endif %}
    <p class="lead">Book Reviews</p>
  </div>
</div>
<form class="navbar-form navbar-left" method="get" action="" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="Search" value="{{request.GET.q}}">
  </div>
  <button type="submit" class="btn btn-success">Search</button>
</form>
<br>
<br>
<div class="search_result">
  {% if request.GET.q %}
    {% if search_result == None %}
    <h2>Search Result:</h2>
    <h4>No Results Found</h4>
    {% else %}
    {% for obj in search_result %}
    <h2>Search Result:</h2>
    <ul class="list-group">
      <li><h4><a href="/book/{{obj.id}}">{{obj.title}}</a></h4></li>
    </ul>
    <!-- <h3></h3> -->
    {%endfor%}
    {% endif %}
  {%endif%}
</div>
<br>
<br>
<div id='bookrev1'>
  <h2>Recent Book Reviews:</h2>
  <hr>
  <div class="container">
    <!-- <div class="row"> -->
      <div class="col-md-6">
        <!-- Fluid width widget -->
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="media-list">
              <li class="media">
                <div class="media-body">
                  <h4 class="media-heading">
                    <hr>
                    {% for r in recent %}
                    {% if recent.length == 0 %}
                    <h3>No recent Books with Reviews</h3>
                    {%endif%}
                    <h5><a href='/user/{{r.user.id}}'> {{r.user.user_name}}</a>

                      commented on <a href="/book/{{r.book.id}}">{{r.book.title}}</a>
                    </h5>
                  </h4>
                  <h5>
                    - {{r.comment}}
                  </h5>
                  <p>Rating: {{r.rating}} Stars</p>
                  <p>Posted on: {{r.created_at}}</p>
                  <p>{% if r.user.id == request.session.id %} <a href='delete/{{r.book.id}}'>Delete Book</a>{%endif%}</p>
                  <hr>
                  {% endfor %}
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End fluid width widget -->
      </div>
    </div>
  </div>
  <hr>
<!-- </div> -->
<div id='bookrev'>
  <h2>There are Currently {{count}} Books with Reviews:</h2>
  <h3>Book Title:</h3>
  <table>
    <thead>
      <th></th>
    </thead>
    {% for Book in allbooks %}
    <tbody>
      <td>
        <h3><a href='/book/{{Book.id}}'>{{Book.title}}</a></h3>
      </td>
    </tbody>
    {%endfor%}
  </table>
  <br>
  <a href='/add'><button class="btn btn-primary" type="button" name="button">Add New Book</button></a>
</div>
{%endblock content%}
