*{
  font-family: 'Amatic SC', cursive;
}
body{
  color: red;
  padding: 10px;
  /*background-image: url('{% static "images/books.jpg" %}');*/
  /*background-image: url('http://img3.etsystatic.com/000/0/5140977/il_fullxfull.11952691.jpg');*/
  background-image: url('https://ae01.alicdn.com/kf/HTB110tpPVXXXXXpXpXXq6xXFXXXn/Free-Shipping-3D-custom-large-wall-painting-magic-font-b-bookshelf-b-font-font-b-wallpaper.jpg');
  /*background-image: url('https://images.unsplash.com/photo-1460324558840-8df3143cd908?dpr=1&auto=format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=');*/
  background-size: cover;
}

#nav_list li {
  display: inline;

}

#bookrev{
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 60%;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  opacity: .8;
}

#bookrev1 h2{
  color: white;
  margin-left: 20px;
  width: 40%;
}

.col-md-6{
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: black;
  height: 80px;
  border-radius: 5px;
}

nav ul {
  display: inline;
}

.page_header h1 {
  color: white;
  text-align: center;
}

.search_result{
  margin-left: 20px;
}

.search_result h2{
  color: white;
}

.search_result h4{
  color: red;
}

#bookrev h2, h3{
  color: white;
}

.list{
  background-color: white;
  height: 20px;
  width: 100%;
}

.panel{
  text-align: center;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.User{
  text-align: center;
}

.User h3{
  color: white;
}

.forms{
  display: inline-block;
  width: 40%;
  margin-left: 30%;
}

#full_container{
  align-items: center;
}

th{
  color: white;
  text-align: center;
}

.jumbotron{
  opacity: .8;
}

.card-block{
  background-color: white;
  opacity: .8;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 5px;
}

.info h3{
  color: white;
}

.box{
  background-color: black;
  padding: 10px;
  border-radius: 5px;

}

.box p{
  color: white;
  text-align: center;
}

.bookInfo{
  text-align: center;
  align-items: center;
}

.book_comments{
  margin-left: auto;
  margin-right: auto;
}

.myReview{
  margin-left: auto;
  margin-right: auto;
}

#site_title h3{
  color: #007BF7;
}

.user_reviews ul {
  list-style-type: none;
}
